body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  text-align: center;
}

.contenido {
  background-color: white;
  width: 60%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  color: darkblue;
}

p {
  font-size: 18px;
}

button {
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
